body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .timer {
    display: flex;
    gap: 16px;
  }
  
  .value {
    font-size: 60px;
  }
  #datetime-picker{
    width: 280px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #4E75FF;
    padding-left: 16px;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
  }
  button{
    width: 75px;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
  }
  .active-btn{
  background: #4E75FF;
  color: #FFF;
  }